* {
  margin: 0;
  padding: 0; }

body {
  height: auto; }

nav {
  overflow: hidden; }

.content-heading {
  justify-content: flex-end; }

.navbar-collapse {
  justify-content: flex-end; }

.navbar-toggler {
  justify-content: flex-end; }

.about .row .col-md-5 .img-about {
  border: 2px solid grey;
  width: 90%;
  max-width: 100%;
  border-radius: 100%; }

.navbar-nav .nav-item .nav-link:hover {
  color: grey; }

.nav-item {
  color: #fff; }
  .nav-item:hover {
    color: grey; }

i {
  margin-left: 2vw; }


  .one{
    background-image: url("../image/fun.jpg");
    color: #fff;

  }
  .two{
    background-image: url("../image/Bal.jpg");
    color:#000;
  }
