body{
    margin: 0 auto;
    font-family: 'Yatra One', cursive;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.4em;
    font-weight: 300;
}
nav{
    background-color: #3F69AA;


}
span{
  margin: auto;
}
span > em{
  text-align: right;
  color: #FFF;
  font-size: 1.6em;
  margin : auto;
}
@media only screen and (max-width: 600px) {
    .main-nav {
        font-size: 0.5em;
        padding: 0;
    }
}

nav ul li{
  list-style: none;
  display: inline-block;


}
h1{
  text-align:center;
}

nav ul li a .logo-icon  {

   margin: 1vw 3vw ;
   width:25%;

}
.container {
    /*show heigh: auto*/
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}



footer{
    text-align: center;
    background-color: #444;
}
