body{
    margin: 0 auto;
    font-family: 'Indie Flower', cursive, "Helvetica Neue", "sans-serif";
    background-color: #fff;
    letter-spacing: 1px;
    font-size: 1.4em;
    font-weight: 300;
    /* background-image: url("../image/blue_background.jpg"); */
}
nav{
    background-color: #0d2235;;
    z-index: 100%;


}
span{
  margin: auto;

}
span > em{
  text-align: right;
  color: #FFF;
  font-size: 1.6em;
  margin : auto;
  display:inline-block;
}

@media only screen and (max-width: 600px) {
    .container {
        font-size: 0.5em;
        padding: 0;
    }

}


nav ul li{
  list-style: none;
  display: inline-block;


}

h2{
  text-align:center;
}

nav ul li a .logo-icon  {
   margin: 1vw 3vw ;
   width:25%;

}
nav .collapse .navbar-nav .nav-item .nav-link:hover{
  color:grey;
}
nav ul li .nav-link{
  text-decoration: none;
  color:#fff;
}
.navbar-toggler-icon{
  background-image: url("../image/menu.png");
}

/* navbar-toggler-icon{
  background-image: url("../image/menu/cancel.png");
} */

.nav-link .logo-icon{
  width:50px;
}
.container {
    /*show heigh: auto*/
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: url("image/welcome.jpg") no-repeat;
    background-size: cover; */
}
.container .cover{

   width: 35rem;

}


footer{
    text-align: center;
    background-color: #0b1d2d;
    color: #fff;
    padding: 12px 0;
}
