$col-light:#9ff;
$col-light:#9ff;
$col-light:#9ff;
$col-light:#9ff;
$col-light:#9ff;
$col-light:#9ff;
$light:#fff;
*{
  margin: 0;
  padding: 0;
}
// @mixin alignobject{
//     .navbar-expand-lg {
//
//     }
// }
nav{
    overflow: hidden;
}
.content-heading{
  justify-content: flex-end;
}
.navbar-collapse{
  justify-content: flex-end;
}
.navbar-toggler{
  justify-content: flex-end;
}

.about{
  .row{
    .col-md-5{
      .img-about{
          border: 2px solid grey;
          width:90%;
        	max-width: 100%;
          border-radius: 100%;
        }

    }

  }
}

.navbar-nav .nav-item .nav-link:hover{
  color:grey;
}
.nav-item{
   color: $light;
   &:hover{
     color:grey
   }
}
i{
  margin-left:2vw;
}
